.App {
  text-align: center;
  margin-top: 25px;
}

.app-container {
  display: flex;
  flex-direction: row;
}

.navigation-menu-container {
  display: flex;
}

.form-control {
  width: 50%;
  border: 1px solid #ccc;
  padding: 10px; 
}

.control-error {
  border: 1px solid red;
}

.hidden {
  display: none;
}

.navigation-bar {
  display: flex;
  flex-direction: column;
}

.button {
  height: 100px;
  width: 100px;
}

.divider-container {
  height: 32px;
  width: 32px;
}

.divider {
  font-size: 29px;
  font-weight: bolder;
}

.available {
  color: #d2ddef;
}

.unavailable {
  color: #d2ddef;
}

.completed {
  color: #384b5d;
}

.invalid {
  color: #c05f68;
}

.isActive {
  color: #6dc5ab;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.tooltip-text {
  line-height: 30px;
}

.tooltip {
  display: none;
  background: #6dc5ab;
  height: 30px;
  width: 150px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
}

.icon:hover + .tooltip {
  display: block;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.icon-tooltip-container {
  display: flex;
  flex-direction:row;
  align-items: center;
}

.arrow_box {
	position: relative;
	background: #6dc5ab;
}
.arrow_box:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(109, 197, 171, 0);
	border-right-color: #6dc5ab;
	border-width: 5px;
	margin-top: -5px;
}

input {
  margin: 10px;
}

.field-container {
  position: absolute;
  left: 200px;
}

.field {
  font-family: Arial, Helvetica, sans-serif;
}
