.App {
  text-align: center;
  margin-top: 25px;
}

.navigation-menu-container {
  display: flex;
}

.form-control {
  width: 50%;
  border: 1px solid #ccc;
  padding: 10px; 
}

.control-error {
  border: 1px solid red;
}

.hidden {
  display: none;
}

.navigation-bar {
  display: flex;
  flex-direction: column;
}

.button {
  height: 100px;
  width: 100px;
}

.divider-container {
  height: 32px;
  width: 32px;
}

.divider {
  font-size: 29px;
  font-weight: bolder;
}

.available {
  color: #d2ddef;
}

.unavailable {
  color: #d2ddef;
}

.completed {
  color: #384b5d;
}

.invalid {
  color: #c05f68;
}

.isActive {
  color: #6dc5ab;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}


